<%= form_with model: @tournament_article_form, url: form_url, method: form_method do |form| %>
  <% if @tournament_article_form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@tournament_article_form.errors.count, "error") %></h2>

      <ul>
        <% @tournament_article_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card my-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>大会</label>
            <%= render 'admin/shared/required', form: form, field: 'name' %>
            <%= form.text_field :name , class: 'form-control'%>
          </div>
          <div class="form-group">
            <label>記事検索ラベル</label>
            <span class="text-danger">※必須</span>
            <%= form.text_field :title , class: 'form-control'%>
          </div>

          <div class="form-group">
            <label>記事コンテンツ</label>
            <span class="text-danger">※必須</span>
            <%= form.rich_text_area :content%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div><%= form.submit @is_new_record ? "作成" : "更新", class: "btn btn-primary mb-3" %></div>
<% end %>
