<%= search_form_for @q, url: admin_tournaments_path, html: { method: :get } do |f| %>
  <div class="d-flex flex-wrap">
    <div class="form-group mr-3">
      <%= f.label :id_eq, 'ID' %>
      <%= f.search_field :id_eq %>
    </div>
    <div class="form-group mr-3">
      <%= f.label :name_cont, '大会' %>
      <%= f.search_field :name_cont %>
    </div>
    <div class="form-group mr-3">
      <%= f.label :article_title_cont, '記事検索ラベル' %>
      <%= f.search_field :article_title_cont %>
    </div>
  </div>

  <%= f.submit '検索', class: 'btn btn-primary' %>
  <%= link_to 'リセット', admin_tournaments_path, class: 'btn btn-secondary' %>
<% end %>