<h1 class="mb-3">大会一覧</h1>

<%= render "search_form" %>

<div class="card my-4">
  <div class="card-header">
    <div class="card-tools">
      <%= button_to("新規作成", new_admin_tournament_path, class: "btn btn-primary", method: :get) %>
    </div>
  </div>

    <div id="grounds">
    <div class="card-body table-responsive p-0">
      <table class="table text-nowrap table-bordered">
        <thead>
          <tr>
            <th><%= sort_link(@q, :id, "ID") %></th>
            <th>大会</th>
            <th>記事検索ラベル</th>
            <th>記事コンテンツ</th>
          </tr>
        </thead>
        <tbody>
          <% @tournaments.each do |tournament| %>
            <%= render tournament %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
