<h1 class="mb-3">選手一覧</h1>

<%= render "search_form" %>

<div class="card my-4">
  <div class="card-header">
    <div class="card-tools">
      <%= button_to("新規作成", new_admin_player_path, class: "btn btn-primary mr-2", method: :get) %>
    </div>
  </div>

    <div id="players">
    <div class="card-body table-responsive p-0">
      <table class="table text-nowrap table-bordered">
        <thead>
          <tr>
            <th><%= sort_link(@q, :id, "ID") %></th>
            <th>所属チーム</th>
            <th>選手名</th>
            <th>フリガナ</th>
            <th>ポジション</th>
            <th>サブポジション</th>
            <th>選手画像</th>
            <th>ユニフォーム画像</th>
            <th>生年月日（公開・非公開）</th>
            <th>投打</th>
            <th>出身校</th>
            <th>キャッチコピー</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |player| %>
            <%= render player %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
