<h1 class="mb-3">球場一覧</h1>

<%= render "search_form" %>

<div class="card my-4">
  <div class="card-header">
    <div class="card-tools">
      <%= button_to("新規作成", new_admin_ground_path, class: "btn btn-primary mr-2", method: :get) %>
    </div>
  </div>

  <div id="grounds">
    <div class="card-body table-responsive p-0">
      <table class="table text-nowrap table-bordered">
        <thead>
          <tr>
            <th><%= sort_link(@q, :id, "ID") %></th>
            <th>球場名</th>
            <th>外部リンク</th>
            <th>管理組織</th>
            <th>電話番号</th>
            <th>住所</th>
            <th>画像</th>
            <th>GoogleMapURL</th>
            <th>アクセス</th>
            <th>利用可能競技</th>
            <th>公開設定</th>
          </tr>
        </thead>
        <tbody>
          <% @grounds.each do |ground| %>
            <%= render ground %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
