<%= form_with(model: [:admin, @union_team]) do |f| %>
  <% if @union_team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@union_team.errors.count, "error") %> prohibited this union team from being saved:</h2>

      <ul>
        <% @union_team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card my-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <%= render 'text_form', form: f, field: :name, label_text: '連合チーム名' %>
                  <div id="selectForms">
                    <div class="form-group team-select mb-3">
                      <label>チーム</label><span class="text-danger">※必須</span>
                      <%= select_tag 'team_ids[]', options_from_collection_for_select(@teams, :id, :name), include_blank: "選択してください", class:"form-select union-team-form"%>
                    </div>
                  </div>
            <button type="button" id="addSelectForm" class="btn btn-primary mb-3 mt-3">追加</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div><%= f.submit class: "btn btn-primary mb-3" %></div>
    <button type="button" class="btn btn-secondary ml-1 rounded union-team-reset-btn">リセット</button>
  </div>
<% end %>

<div class="form-group team-select mb-2 mt-2" id="team-select-template" style="display:none;">
  <%= select_tag 'team_ids[]', options_from_collection_for_select(@teams, :id, :name), include_blank: true, class:"form-select union-team-form" %>
  <button type="button" class="btn btn-danger btn-sm remove-team ml-3 mb-2 union-team-delete-btn">削除</button>
</div>
