<div class="form-group">
  <label><%= label_text %></label>
  <% if field == :page_path %>
    <%= render 'admin/shared/required', form: form, field: field %>
    <%= form.url_field field, class: 'form-control' %>
  <% elsif field == :email %>
    <%= form.email_field field, class: 'form-control' %>
  <% else %>
    <%= render 'admin/shared/required', form: form, field: field %>
    <%= form.text_field field, class: 'form-control' %>
  <% end %>
</div>
